.navigation__btn {
  @apply inline-block mx-2 lg:mt-0 px-4 py-2;
  @apply text-sm leading-none border rounded-xl;
}

.navigation__btn-lg {
  @apply drop-shadow-lg;
  @apply text-lg px-4 py-2 mx-2 leading-none;
}

.navigation__btn-teal {
  @apply bg-teal text-white border-white;
  @apply hover:border-teal hover:text-teal hover:bg-white;
}

.navigation__btn-white {
  @apply bg-white text-teal border-teal;
  @apply hover:border-white hover:text-white hover:bg-teal;
}
