.pagination {
  @apply max-w-screen-sm m-auto py-6 flex flex-wrap content-center;
}

.pagination__link {
  @apply m-6 px-4 py-2;
}

.pagination__link-active {
  @apply italic font-bold;
}

.pagination__btn {
  @apply m-6 px-4 py-2 bg-teal border rounded text-white;
  @apply hover:italic hover:cursor-pointer hover:bg-white hover:border-teal hover:text-teal;
}
