.pagination {
  @apply max-w-screen-sm m-auto py-6 flex flex-wrap content-center;
}

.pagination__link {
  @apply mx-auto;
}

.pagination__link-active {
  @apply italic font-bold;
}

.pagination__btn {
  @apply px-2 bg-teal border rounded text-white;
}

.pagination__btn-hover {
  @apply hover:bg-white hover:border-teal hover:text-teal;
}
