.squid {
  @apply mx-auto my-2 p-5 bg-white shadow-md;

  & .squid__header {
    @apply font-bold;
  }

  & .squid__text {
    @apply font-normal;
  }
}

.squid__border {
  @apply border border-black rounded;
}

.squid__hover {
  @apply hover:border-peach hover:text-cognac;
}
